/*font-family: 'Noto Serif', serif;*/
* html .clearfix {
	height: 1%;
}
html[xmlns] .clearfix {
	display: block;
}
.clearfix {
	display: inline-block;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
*, html {
    margin: 0;
    padding: 0;
}
body{
	font-family: 'Noto Serif', serif;
	min-height:700px;
	overflow:hidden;
}
#hero{
	width:100%;
	height:200px;
	background:url(../images/bg.png) repeat;
	text-align:center;
	position:absolute;
	top:50%;
	margin-top:-100px;
	z-index:1
}
#hero h1 {
    color: #FFFFFF;
    font-size: 60px;
    margin-bottom: 0;
}
#hero p {
    color: #FFFFFF;
    font-size: 19px;
}

#hero p a{
    color: #FFFFFF;
    font-size: 19px;
}